<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML Table</title>
    <style>
        /* Optional: Some basic styling for the table */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Simple Table Example</h2>
    <table>
        <tr>
            <th>name</th>
            <th>model</th>
            <th>price</th>
            <th>quantity</th>
        </tr>
        {% for i in user3 %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.model}}</td>
            <td>{{i.price}}</td>
            <td>{{i.quantity}}</td>
            <td><a href="/delete3/{{i.id}}">delete</a>></td>
        </tr>
        {% endfor %}

        
    </table>
</body>
</html>
